*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #aca8a8;
}
.login{

    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
}
.user_login {

width: 420px;
background: transparent;
border: 2px solid rgba(209, 17, 17, 0.2);
backdrop-filter: blur(20px);
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
color: aliceblue;
border-radius: 10px;
padding: 20px 40px;
margin-bottom: 100px;
}
.user_login h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.user_login .input-box {
   position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);  
  border-radius: 40px;
  font-size: 16px;
  color: aliceblue;
 
}

.iunpt-box input ::placeholder{
    color: aliceblue;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.user_login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.user_login .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-sizing: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.user_login .Register_now{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.Register_now p a {
color: #fff;
text-decoration: none;
font-size: 600;
}

.Register_now p a{
    text-decoration: underline;
}